asdf==2.15.0
asdf-astropy==0.5.0
astropy==5.3
crds==11.16.16
gwcs==0.18.1
jsonschema==4.8.0
numpy==1.22.0
photutils==1.10.0
pyparsing==2.4.7
requests==2.26.0
rad @git+https://github.com/spacetelescope/rad.git
roman-datamodels @git+https://github.com/spacetelescope/roman_datamodels.git
scipy==1.11.0
stcal @git+https://github.com/spacetelescope/stcal.git@main
stpipe==0.5.0
tweakwcs==0.8.6
spherical-geometry==1.2.22
stsci.imagestats==1.6.3
drizzle==1.13.7
webbpsf==1.2.1
